@model CatsAndDogs_project.Models.AccessoriesCategory

@{
    ViewData["Title"] = "Edit";
}

<head>
    <link href="~/css/edit_1.css" rel="stylesheet" />
</head>

<h1>עריכת קטגוריה</h1>

<div class="row">
    <div class="card col-3" style="width: 18rem; position:inherit">
        <div class="card-body">
            <form asp-action="Edit">
                <div class="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="feture">
                        <h5 class="card-title"><label asp-for="Name" class="control-label"></label> :</h5><span><input asp-for="Name" class="form-control" /></span>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="img">
                    <div class="options">
                        <a asp-action="Index"><i class="material-icons">keyboard_backspace</i></a>
                        <input type="submit" value="שמור" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
