@model CatsAndDogs_project.Models.GuideCat

@{
    ViewData["Title"] = "Create";
}
<head>
    <link href="~/css/guide_create.css" rel="stylesheet" />
</head>
<h1>יצירת מדריך</h1>

<div class="row">
    <div class="card col-md-9">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="Id" />*@
            <div class="form-group">
                <h5> <label asp-for="ImageGuied" class="info-label"></label></h5>
                <span><input asp-for="ImageGuied" class="img-guide" autocomplete="off" /></span>
                <span asp-validation-for="ImageGuied" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5> <label asp-for="Image" class="info-label"></label></h5>
                <span><input asp-for="Image" class="img-guide" autocomplete="off" /></span>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5><label asp-for="BreedCat_2Id" class="info-label"></label></h5>
                <select asp-for="BreedCat_2Id" class="breed-select"  asp-items="ViewBag.BreedCat_2Id"></select>
                <span asp-validation-for="BreedCat_2Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="info-label"></label>
                <span class="show"><textarea asp-for="Description" class="input-info" autocomplete="off" style="font-size:18px"></textarea></span>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Characteristics" class="info-label"></label>
                <span class="show"><textarea asp-for="Characteristics" class="input-info" autocomplete="off" style="font-size:18px"></textarea></span>
                <span asp-validation-for="Characteristics" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Health" class="info-label"></label>
                <span class="show"><textarea asp-for="Health" class="input-info" autocomplete="off" style="font-size:18px"></textarea></span>
                <span asp-validation-for="Health" class="text-danger"></span>
            </div>
            <div class="option">
                <input id="crt_btn" type="submit" value="שמור" class="btn btn-primary" />
                <a id="back-btn" asp-action="Index"><i class="material-icons">keyboard_backspace</i></a>
            </div>
        </form>
    </div>
</div>
@*<h1>Create</h1>

    <h4>GuideCat</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ImageGuied" class="control-label"></label>
                    <input asp-for="ImageGuied" class="form-control" />
                    <span asp-validation-for="ImageGuied" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="Image" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BreedCat_2Id" class="control-label"></label>
                    <select asp-for="BreedCat_2Id" class ="form-control" asp-items="ViewBag.BreedCat_2Id"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Characteristics" class="control-label"></label>
                    <input asp-for="Characteristics" class="form-control" />
                    <span asp-validation-for="Characteristics" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Health" class="control-label"></label>
                    <input asp-for="Health" class="form-control" />
                    <span asp-validation-for="Health" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
