body {
    margin-top: 100px;
}


h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 35px;
    color: burlywood;
    font-family: 'Amatic SC', cursive;
    text-decoration-line: underline;
}
h3 {
    font-size: 45px;
    color: dimgray;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 50px;
    text-align :center;
}
h3 > span {
    color: tomato;
}
.card {
    width: 100% !important;
    position: inherit;
    height:auto;
    border:none;
    border-color: dimgrey;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}

.card-body {
    display: flex;
    justify-content: space-between;
}

.card-img {
    width: 280px;
    height: 245px;
    border: none;
    border-color: darkgray;
    padding: 2px;
    border-radius: 10px;
}

.detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4px;
}

.options {
    margin-top: auto;
    text-align-last: center;
    justify-content: space-between;
    display: flex;
    justify-content: flex-end;
}

.far, .material-icons {
    background-color: aqua;
    padding: 12px;
    font-size: 30px;
    font-size: 25px;
    background-color: #ffe4c1;
    border: 2px solid;
    border-radius: 8px;
    color: dimgray;
}

.far:hover ,.material-icons:hover {
    background-color: #696969ab;
    color: white;
    border-color: #696969ab;
}
.body-down {
    justify-content : space-between;
}
.body-up {
    margin-top: 11px;
    margin-right: 20px;
    
}
.date {
    display: flex;
    justify-content: center;
}
.art_body {
    margin-top : 10px;
}
/*.summar {
    border: 1px solid !important;
    width: 69rem !important;
    height: auto !important;
}*/

.btn {
    display: block;
    width: 100%;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    /*width: 248px;*/
    margin-left: 7px;
    /*margin-bottom: 9px;*/
}

#delete_btn {
    width: 248px;
    margin-left: 7px;
    color: white !important;
}
#back {
    margin-left: 5px;
}


@media only screen and (max-width: 1400px) {
    .card {
        width: 77rem ;
        margin: auto;
    }
}

@media only screen and (min-width: 1260px) {

   /* .card-body {
        display: list-item;
        list-style: none;
    }

    .card {
        width: 40rem !important;
        height: 60rem;
        margin: auto;
        height: auto;
    }

    .options {
        margin-top: 60px;
    }

    .feture-description > span {
        width: 325px;
        margin-bottom: 10px;
        height: auto;
    }*/

}