body {
    margin-top: 100px;
}


h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 35px;
    color: burlywood;
    font-family: 'Amatic SC', cursive;
    text-decoration-line: underline;
}

.card {
    width: 100% !important;
    position: inherit;
    height: auto;
    border: none;
    /*border-radius: 10px;*/
    padding: 12px;
    border-color: dimgrey;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}

.card-body {
    display: flex;
    justify-content: space-between;
}

.card-img {
    width: 280px;
    height: 245px;
    border: none;
    border-color: darkgray;
    padding: 2px;
    border-radius: 10px;
}

/*.detail-title {
    font-size: large;
    
}*/

.detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4px;
}

/*.detail-description {
    display: flex;
    margin-top: 30px;
    font-size: medium;
    font-family: 'Amatic SC', cursive;
}

    .detail-description > span {
        width: 640px;
        height: 100px;

    }
.catgory {
    display: flex;
    margin-top: 30px;
    font-size: 24px;
    font-family: 'Amatic SC', cursive;
}

span {
    padding-right: 25px;
    font-size: 24px;
    font-family: 'Amatic SC', cursive;
}
*/
.options {
   margin-top: auto;
    text-align-last: center;
    justify-content: space-between;
    display: flex;
    
}

.far, .material-icons {
    background-color: aqua;
    padding: 12px;
    font-size: 30px;
    font-size: 25px;
    background-color: #ffe4c1;
    border: 2px solid;
    border-radius: 8px;
    color: dimgray;
}

.far:hover ,.material-icons:hover {
    background-color: #696969ab;
    color: white;
    border-color: #696969ab;
}
.body-down {
    justify-content: space-between;
    width: 95%;
}
.body-up {
    margin-top: 11px;
    margin-right: 20px;
    
}
.date {
    /*justify-content: space-around;*/
    display: flex;
    justify-content: center;
   /* margin-top: 5px;*/
}
.art_body {
    margin-top : 10px;
}



@media only screen and (max-width: 1400px) {
    .card {
        /*width: 77rem !important;*/
        margin: auto;
    }
}
@media only screen and (max-width: 1000px) {

    .show, .detail-description, .summar {
        display: block;
    }

    .card-body{
        display:block;
    }

    .card-img {
        display: flex;
        width: 100%;
        height: auto;
    }
}


/*    .card-body {
        display: list-item;
        list-style: none;
    }

    .card {
        width: 55rem !important;
        height: 60rem;
        margin: auto;
        height: auto;
    }

    .options {
        margin-top: 60px;
    }

    .feture-description > span {
        width: 325px;
        margin-bottom: 10px;
        height: auto;*/

/* }
@media only screen and (max-width: 1000px) {

    .card-body {
        display: list-item;
        list-style: none;
    }

    .card {
        width: 40rem !important;
        height: 60rem;
        margin: auto;
        height: auto;
    }

    .options {
        margin-top: 60px;
    }

    .feture-description > span {
        width: 325px;
        margin-bottom: 10px;
        height: auto;
    }
    .detail-description > span {
        width: 325px;
        margin-bottom: 10px;
        height: auto;
    }
}
*/