body {
    margin-top: 120px;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 35px;
    color: burlywood;
    font-family: 'Amatic SC', cursive;
    text-decoration-line: underline;
}

.card {
    width: 100% !important;
    position: inherit;
    height: auto;
    border: 2px solid;
    border-radius: 10px;
    border-color: dimgrey;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    padding-inline: 35px;
}

.card-body {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.card-body > form {
        display: contents;
 }

.card-title {
    font-size: 30px;
    color: dimgray;
    font-family: 'Amatic SC', cursive;
    padding-top: 6px;
    -webkit-text-stroke: thin;
}

.feture {
    display: grid;
    flex-direction: row;
    justify-content: flex-start;
}

.feture-description {
    display: flex;
    margin-top: 30px;
}

.feture-description > span {
        width: 640px;
        height: 100px;
}

span {
    padding-right: 25px;
    font-size: 24px;
    font-family: 'Amatic SC', cursive;
}

span > input {
        display: block;
        font-family: 'Amatic SC', cursive;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        font-size: 20px !important;
        width: 300px !important;
        margin-right:-25px;
    }

.options {
    margin-top: 218px;
    text-align-last: center;
    justify-content: space-between;
    display: flex;
}

 .options > input {
        width: 200px;
        padding: 14px;
        font-family: 'Amatic SC', cursive;
        font-size: 25px;
        padding: 4px;
    }

    .options > a {
        margin-left: 62px;
    }

.img {
    margin-top: auto;
}

.far, .material-icons {
     padding:5px;
    font-size: 25px;
    background-color: #f7eee2;
    border: 1px solid;
    border-radius: 4px;
    color: #dfbb8c;
    margin-right: 70rem;
    margin-top:12px;
}

    .far:hover, .material-icons:hover {
        background-color: #dfbb8c;
        color: #f7eee2;
        border-color: #dfbb8c;
    }


select {
    font-size: 16px !important; 
    width: 300px !important;
}

#text_descripton {
    font-size: 22px !important;
    width: 300px;
}

.body-all {
    display:flex;
}
.btn {
    color: #dfba8b !important;
    background-color: #f7eee2 !important;
    border-color: #deb988 !important;
    margin-top: -16px;
}

.body-left {
    margin-right: 15px;
}

#input-left {
    width: 50rem;
    height: 4rem;
}
#bo-left {
    width: 50rem ;
    height: 26rem;
}

.card-title-left {
    font-size: 30px;
    color: dimgray;
    font-family: 'Amatic SC', cursive;
    padding-top: 6px;
    -webkit-text-stroke: thin;
    margin-right:26px !important; 
}

#categoryId {
    margin-right:-25px;
}
@media only screen and (max-width: 1400px) {
    .card {
        margin: auto;
        width: 100%;
    }

    .far, .material-icons {
        margin-right: 0;
    }
}

@media only screen and (max-width: 1200px) {
    .body-all {
        display: flex;
        flex-direction: column;
    }
    .body-right {
        margin-right: 36px;
    }
 
}
@media only screen and (max-width: 1000px) {
    .body-all {
        display: flex;
        flex-direction: column;
    }
    .show {
        display:block;
    }
    #bo-left, #input-left {
        width: 40rem;
    }
}
@media only screen and (max-width: 800px) {
    .body-all {
        display: flex;
        flex-direction: column;
    }

    .show {
        display: block;
    }

    #bo-left, #input-left {
        width: 25rem;
    }
}
