body{
    margin-top:100px;
}
.choose-name-head {
    background: url(http://efratclinic.co.il/images/img/portfolio/single/b4.jpg) no-repeat;
    background-position: center;
    min-height: 295px;
    background-size: 101%;
    opacity: 0.7;
    margin-bottom: 15px;
}

h1 {
    text-align: start;
    font-size: 66px;
    margin-bottom: 14px;
    color: black;
    font-family: 'Amatic SC', cursive;
    width: 18rem;
}
.sub-title {
    width: 13rem;
}
h2 {
    font-size: 4rem;
    padding: 8px;
}
.dog-name {
    border-bottom-style: double;
    border-bottom-color: burlywood;
    margin-bottom: 20px;
    display:flex;
}
.letter {
    border-left-style: double;
    border-left-color: burlywood;
    width: 64px;
    text-align: center;
}
.name {
    width: 80rem;
    margin-right: 23px;
    margin-bottom: 13px;
}
@media only screen and (max-width: 1400px) {
    .card {
        width: 45rem !important;
        margin: auto;
    }
    .option {
        display: inline-flex;
        margin-bottom: 3px;
    }
    .editOption {
        margin-right: 2rem;
    }

}

@media only screen and (max-width: 768px) {
    .row {
        justify-content: center;
    }
    .btn-primary {
        display: block;
        position: inherit !important;
        color:white !important;
    }
    .removeOption {
        display: block;
    }

    .search {
        display: grid;
    }
    .editOption {
        display: block;
        margin-right: -8rem;
    }

    #sub_search{
        width:auto;
    }
    .crt_btn {
        margin-right: 13rem;
    }
   
}
