body{
    margin-top:100px;
}
.choose-name-head {
    background: url(http://efratclinic.co.il/images/img/portfolio/single/b4.jpg) no-repeat;
    background-position: center;
    min-height: 295px;
    background-size: 101%;
    opacity: 0.7;
    margin-bottom: 15px;
}

h1 {
    text-align: start;
    font-size: 66px;
    margin-bottom: 14px;
    color: black;
    font-family: 'Amatic SC', cursive;
    width: 18rem;
}
.sub-title {
    width: 13rem;
}
.random-name {
    padding: 10px;
    font-family: 'Amatic SC', cursive;
    font-size: x-large;
}
a {
    text-decoration:none;
    color :black;
}
a :hover {
    color : burlywood;
    cursor:pointer;
}

/*h3 {
    font-family: 'Amatic SC', cursive;
}*/
h2 {
    font-size: 4rem;
    padding: 8px;
}
.dog-name {
    border-bottom-style: double;
    border-bottom-color: burlywood;
    margin-bottom: 20px;
    display:flex;
}
.letter {
    border-left-style: double;
    border-left-color: burlywood;
    width: 10rem;
    text-align: center;
}
.name {
    width: 80rem;
    margin-right: 23px;
    margin-bottom: 13px;
}



@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 51px;
    }
    .sub-title {
        width: 7rem;
    }
    .choose-name-head {
        background-position:inherit;
        margin-bottom:auto;
    }

}

@media only screen and (max-width: 780px) {

    .choose-name-head {
        background: none;
        display: inline-flex;
        margin-bottom: -11rem;
    }

    a:hover{
        color:burlywood;
    }
}
