body {
    margin-top: 100px;
}


h1 {
    text-align: right;
    font-size: 50px;
    margin-bottom: 18px;
    color: burlywood;
    font-family: 'Amatic SC', cursive;
    text-decoration-line: underline;
}

h5, h4, h3, h2{
    text-align: right;
    margin-bottom: 35px;
    color: burlywood;
    font-family: 'Amatic SC', cursive;
}

.findProduct {
    text-align: right;
    font-size: 40px !important;
}



.card {
    width: 86rem !important;
    position: inherit;
    height: auto;
    border: 2px solid;
    border-radius: 10px;
    border-color: dimgrey;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}

.card-body {
    display: flex;
    justify-content: space-between;
    border-bottom: double;
}

.card-img {
    width: 400px;
    height: 270px;
    border: 2px solid;
    border-color: darkgray;
    padding: 2px;
    border-radius: 10px;
}

.card-title-name {
    font-size: 58px;
    color: dimgray;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 20px;
}


.card-title {
    font-size: 25px;
    color: dimgray;
    font-family: 'Amatic SC', cursive;
    text-decoration: underline;
    -webkit-text-stroke: thin;
}

.feture {
    display: flex;
    flex-direction: row;
}

.feture-description {
    display: flex;
    margin-top: 30px;
}

.feture-description > span {
    width: 640px;
    height: 100px;
}

span {
    padding-right: 25px;
    font-size: 24px;
    font-family: 'Amatic SC', cursive;
}

.options {
    /*  margin-top: 170px;
    text-align-last: right;
    justify-content: space-between;
    display: flex;*/

    margin-top: 58px;
    text-align-last: center;
    justify-content: flex-start;
    display: flex;
  /*  border-bottom: double;*/
    padding: 20px;
    border-bottom-color: burlywood;
}

.far, .material-icons, .fas {
    background-color: aqua;
    padding: 12px;
    font-size: 30px;
    font-size: 25px;
    background-color: #ffe4c1;
    border: 2px solid;
    border-radius: 8px;
    color: dimgray;
}

.map {
    margin-right: 561px;
    width: 700px;
    height: 490px;
    margin-top: -320px;
}

.storeslist {
    padding: 10px;
    margin: 20px;
    font-size: 22px;
    background-color: burlywood;
    border-style: solid;
    border-radius: 22px;
}
.buttolocation {
    font-size: 20px;
}
.spanlocation {
    color: black;
    font-size: 21px;
}

.shopping {
    background-color: aqua;
    padding: 12px;
    font-size: 25px;
    font-size: 20px;
    background-color: #ffe4c1;
    border: 2px solid;
    border-radius: 8px;
    color: dimgray;
}

    .far:hover, .material-icons:hover {
        background-color: #696969ab;
        color: white;
        border-color: #696969ab;
    }

@media only screen and (max-width: 1400px) {

    .card {
        width: 77rem !important;
        margin: auto;
    }
}

@media only screen and (max-width: 1260px) {

    .card-body {
        display: list-item;
        list-style: none;
    }

    .card {
        width: 29rem !important;
        height: 60rem;
        height: 60rem;
        margin: auto;
        height: auto;
    }

    .options {
        margin-top: 60px;
    }

    .feture-description > span {
        width: 325px;
        margin-bottom: 10px;
        height: auto;
    }



}