body {
    margin-top: 120px;
}
h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 35px;
    color: white;
    font-family: 'Amatic SC', cursive;
    /* text-decoration-line: underline;*/
    background-color: #343a3e;
    /*width: fit-content;*/
    padding: 5px;
}
.card-img {
    width: 100%;
    height: 300px;
    border: 2px solid;
    border-color: #343a3e;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    /*box-shadow: -0.1px -1px 8px rgb(0 0 0 / 34%);*/
    margin-bottom: 21px;
}
.titel {
    position: relative;
    display: block;
    /*width: 103px !important;*/
    margin-top: -131px;
    width: fit-content !important;
}
.dog-info {
    background-color: #343a3e;
    box-shadow: -0.1px -1px 8px rgb(0 0 0 / 34%);
    color: white;
    text-align: center;
    bottom: 0;
    padding: 10px 0 24px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    margin-right: 19rem;
    width: 38rem;
    position: relative;
}
.info {
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
}
.info-titel {
    font-family: 'Amatic SC', cursive;
    font-size: large;
}
.sure {
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
    text-align:center;
    margin-top:10px;
}
.sure > span{
    color:tomato;
    margin: auto !important;
    padding: 9px;
    font-size: larger;
    
}
.body-guide {
    margin-top: 2rem;
}
.description {
    display: inline-flex;
    margin-bottom: 33px;
}
.description-guide {
    width: fit-content;
    margin-right: 20px;
}
.description-title {
    width: 11rem;
    border-left: 2px solid;
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
}
.option {
    text-align: center;
    margin-top: 13px;
    display: flex;
    justify-content: center;
}
#delete_btn {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Amatic SC', cursive;
    font-size: x-large;
    padding: 11px;
    border-radius: 8px;
    border-style: solid;
    border-color: #ffffff;
    background: red;
}
#back-btn {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Amatic SC', cursive;
    font-size: x-large;
    padding: 11px;
    border-radius: 8px;
    border-style: solid;
    border-color: #ffffff;
    background: #343a3e;
}
a :hover {
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .dog-info {
        margin-right: 16rem;
    }
}

@media only screen and (max-width: 990px) {
    .dog-info {
        margin-right: 5rem;
    }
}

@media only screen and (max-width: 767px) {
    .dog-info {
        margin-right: 3rem;
        width: 29rem;
    }
}

@media only screen and (max-width: 580px) {
    .dog-info {
        margin-right: 56px;
        width: 25rem;
    }
}

@media only screen and (max-width: 1268px) {
    #delete_btn {
        color: white !important;
        margin-top: auto !important;
    }
}

/*#remove-btn {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Amatic SC', cursive;
    font-size: x-large;
    padding: 11px;
    border-radius: 8px;
    border-style: solid;
    border-color: #ffffff;
    background: #343a3e;
}*/


/*

.card {
    width: 86rem !important;
    position: inherit;
    height: auto;
    border: 2px solid;
    border-radius: 10px;
    border-color: dimgrey;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}

.card-body {
    display: flex;
    justify-content: space-between;
}



.card-title-name {
    font-size: 58px;
    color: dimgray;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 20px;
}



.feture {
    display: flex;
    flex-direction: row;
}

.feture-description {
    display: flex;
    margin-top: 30px;
}

.feture-description > span {
    width: 640px;
    height: 100px;
}

span {
    padding-right: 25px;
    font-size: 24px;
    font-family: 'Amatic SC', cursive;
}

.options {
    margin-top: 170px;
    text-align-last: center;
    justify-content: space-between;
    display: flex;
}

.far, .material-icons {
    background-color: aqua;
    padding: 12px;
    font-size: 30px;
    font-size: 25px;
    background-color: #ffe4c1;
    border: 2px solid;
    border-radius: 8px;
    color: dimgray;
}

.far:hover ,.material-icons:hover {
    background-color: #696969ab;
    color: white;
    border-color: #696969ab;
}

@media only screen and (max-width: 1400px) {

    .card {
        width: 77rem !important;
        margin: auto;
    }
}

@media only screen and (max-width: 1260px) {

    .card-body {
        display: list-item;
        list-style: none;
    }

    .card {
        width: 29rem !important;
        height: 60rem;
        margin: auto;
        height: auto;
    }

    .options {
        margin-top: 60px;
    }

    .feture-description > span {
        width: 325px;
        margin-bottom: 10px;
        height: auto;
    }

}*/