body {
    margin-top: 120px;
}

h1 {
    text-align: center;
    font-size: 100px;
    margin-bottom: 35px;
    color: black;
    font-family: 'Amatic SC', cursive;
}
.info-label {
    font-size: 3rem;
    font-family: 'Amatic SC', cursive;
}
.input-info {
    height: 10rem;
    width: 100%;
    padding: 11px;
    border-radius: 8px;
    border: 2px solid;
}
.info-head {
    width: 60%;
    border-radius: 8px;
    padding: 11px;
    font-size:large;
    border :2px solid;
}
.breed-select {
    width: 60%;
    border-radius: 8px;
    padding: 11px;
    font-size: large;
    border: 2px solid;
}
.img-guide {
    width: 60%;
    border-radius: 8px;
    padding: 11px;
    font-size: large;
    border: 2px solid;
}

.card {
    width: 86rem !important;
    position: inherit;
    height: auto;
    border: 2px solid;
    border-radius: 10px;
    border-color: dimgrey;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    padding: 26px;
}

.card-body {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.card-body > form {
    display: contents;
}
a :hover {
    cursor: pointer;
}
.option {
    margin-top: 13px;
    display: flex;
    justify-content: flex-end;
}
#back-btn {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Amatic SC', cursive;
    font-size: x-large;
    padding: 11px;
    border-radius: 8px;
    border-style: solid;
    border-color: #ffffff;
    background: #343a3e;
    
}
#save_btn {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Amatic SC', cursive;
    font-size: x-large;
    padding: 11px;
    border-radius: 8px;
    border-style: solid;
    border-color: #ffffff;
    background: #343a3e;
}
@media only screen and (max-width: 1400px) {
    #save_btn {
        color:white !important;
        margin-top:auto !important;
    }
}
