body {
    margin-top: 120px;
}
h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 35px;
    color: white;
    font-family: 'Amatic SC', cursive;
    background-color: #343a3e;
    padding: 5px;
}
.card-img {
    width: 100%;
    height: 300px;
    border: 2px solid;
    border-color: #343a3e;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}
.card-img-cat {
    margin-bottom:30px;
}
.titel {
    position: relative;
    display: block;
    margin-top: -131px;
    width: fit-content !important;
}
.dog-info {
    background-color: #343a3e;
    box-shadow: -0.1px -1px 8px rgb(0 0 0 / 34%);
    color: white;
    text-align: center;
    bottom: 0;
    padding: 10px 0 24px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    margin-right: 19rem;
    width: 38rem;
    position: relative;
}
.info {
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
}
.info-titel {
    font-family: 'Amatic SC', cursive;
    font-size: large;
}
.sure {
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
    text-align:center;
    margin-top:10px;
}
.sure > span{
    color:tomato;
    margin: auto !important;
    padding: 9px;
    font-size: larger;
    
}
.body-guide {
    margin-top: 42px;
}
.body-guide-cat {
    margin-top: 22px;
}
.description {
    display: inline-flex;
    margin-bottom: 33px;
}
.description-guide {
    width: fit-content;
    margin-right: 20px;
}
.description-title {
    width: 11rem;
    border-left: 2px solid;
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
}
.option {
    text-align: center;
    margin-top: 13px;
    display: flex;
    justify-content: center;
}
#delete_btn {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Amatic SC', cursive;
    font-size: x-large;
    padding: 11px;
    border-radius: 8px;
    border-style: solid;
    border-color: #ffffff;
    background: red;
}
#back-btn {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Amatic SC', cursive;
    font-size: x-large;
    padding: 11px;
    border-radius: 8px;
    border-style: solid;
    border-color: #ffffff;
    background: #343a3e;
}
a :hover {
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .dog-info {
        margin-right: 16rem;
    }
}

@media only screen and (max-width: 990px) {
    .dog-info {
        margin-right: 5rem;
    }
}

@media only screen and (max-width: 767px) {
    .dog-info {
        margin-right: 3rem;
        width: 29rem;
    }
}

@media only screen and (max-width: 580px) {
    .dog-info {
        margin-right: 56px;
        width: 25rem;
    }
}

@media only screen and (max-width: 1268px) {
    #delete_btn {
        color: white !important;
        margin-top: auto !important;
    }
}

