body {
    margin-top: 100px;
}


h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 35px;
    color: white;
    font-family: 'Amatic SC', cursive;
    /* text-decoration-line: underline;*/
    background-color: dimgray;
    /*width: fit-content;*/
}
.card-img {
    width: 100%;
    height: 300px;
    border: 2px solid;
    border-color: darkgray;
    padding: 2px;
    border-radius: 10px;
}
/*.title {
    -webkit-text-stroke: thin;
}*/
.dog-info {
    background-color: #343a3e;
    box-shadow: -0.1px -1px 8px rgb(0 0 0 / 34%);
    color: white;
    text-align: center;
    bottom: 0;
    padding: 10px 0 24px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    margin-right: 23rem;
    margin-top: -41px;
    z-index: 4;
    width: 38rem;
}


.card {
    width: 86rem !important;
    position: inherit;
    height: auto;
    border: 2px solid;
    border-radius: 10px;
    border-color: dimgrey;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}

.card-body {
    display: flex;
    justify-content: space-between;
}



.card-title-name {
    font-size: 58px;
    color: dimgray;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 20px;
}



.feture {
    display: flex;
    flex-direction: row;
}

.feture-description {
    display: flex;
    margin-top: 30px;
}

.feture-description > span {
    width: 640px;
    height: 100px;
}

span {
    padding-right: 25px;
    font-size: 24px;
    font-family: 'Amatic SC', cursive;
}

.options {
    margin-top: 170px;
    text-align-last: center;
    justify-content: space-between;
    display: flex;
}

.far, .material-icons {
    background-color: aqua;
    padding: 12px;
    font-size: 30px;
    font-size: 25px;
    background-color: #ffe4c1;
    border: 2px solid;
    border-radius: 8px;
    color: dimgray;
}

.far:hover ,.material-icons:hover {
    background-color: #696969ab;
    color: white;
    border-color: #696969ab;
}

@media only screen and (max-width: 1400px) {

    .card {
        width: 77rem !important;
        margin: auto;
    }
}

@media only screen and (max-width: 1260px) {

    .card-body {
        display: list-item;
        list-style: none;
    }

    .card {
        width: 29rem !important;
        height: 60rem;
        margin: auto;
        height: auto;
    }

    .options {
        margin-top: 60px;
    }

    .feture-description > span {
        width: 325px;
        margin-bottom: 10px;
        height: auto;
    }

}