body{
    margin-top: 118px;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: rgb(210 153 69 / 72%);
    font-family: 'Amatic SC', cursive;
    /*text-decoration: underline;*/
    margin-bottom: 60px;
}

.create_btn {
    font-size: 25px;
    text-decoration: none;
    background-color: #ffe4c1;
    padding: 7px;
    border: 2px solid;
    border-radius: 8px;
    font-family: 'Amatic SC', cursive;
    color: dimgray;
}

P > a:hover {
    color: burlywood !important;
}


.small-tiitles {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.small-tiitles > h2 {
    font-size:45px;
}

.about_us {
    margin-top: 30px;
    background-color: #faf2e8;
    padding: 5px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #e6bc81;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    height: auto;
    margin-bottom: 50px;
}


.donations {
    background-color: #faf2e8;
    padding: 5px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #e6bc81;
}

.temperatures {
    margin-top: 30px;
    background-color: #faf2e8;
    padding: 5px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #e6bc81;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    height: auto;
    margin-bottom: 50px;
}


h2 {
    font-size: 60px;
    color: #696969ab;
    font-family: 'Amatic SC', cursive;
}

span {
    padding-right: 100px;
}

p {
    color: #696969ab;
    font-family: 'Amatic SC', cursive;
    font-size: 38px;
}

#slider {
    overflow: hidden;
    border: 4px solid;
    border-radius: 20px;
    border-color: rgb(210 153 69);
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    margin-bottom: 40px;
    width: 80%;
    margin: auto;
}

#slider > figure {
    position:relative;
    width:500%;
    animation: 30s slider cubic-bezier(0.4, 0, 1, 1) infinite;
    z-index: -1;
}

#slider > figure > img {
    float: right;
    width:20%;
    height: 400px;
}
#contact {
    color:dimgray;
    text-decoration:none;
}


@keyframes slider {
    0% {
        right:0;
    }

    20% {
        right: 0;
    }

    25% {
        right: -100%;
    }

    45% {
        right: -100%;
    }

    50% {
        right: -200%;
    }

    70% {
        right: -200%;
    }

    75% {
        right: -300%;
    }

    95% {
        right: -300%;
    }

    100% {
        right: -400%
    }
}


@media only screen and (max-width: 1200px) {
    .small-tiitles {
        display:inline;
    }

    span{
        display:none;
    }
}