
.topButtons > p {
    margin: 5px !important;
}

.card-img {
    width: 100%;
    height: 330px;
    border: 2px solid;
    border-color: #343a3e;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    opacity: 0.8;
}

.topB {
    font-size: 25px;
    margin: 5px;
    text-decoration: none;
    background-color: #ffe4c1;
    padding: 7px;
    border: 2px solid;
    border-radius: 8px;
    font-family: 'Amatic SC', cursive;
    color: dimgray;
}

.crt-btns {
    display: flex;
}

.titel {
    position: relative;
    display: block;
    width: 103px !important;
    margin-top: -42px;
    width: fit-content !important;
    margin-right: 17px;
}

h1 {
    text-align: center;
    font-size: 54px;
    margin-bottom: 14px;
    color: white;
    font-family: 'Amatic SC', cursive;
    width: 28rem;
    background-color: dimgray;
}

.sub-title {
    width: 27rem;
    text-align: center;
    margin-right: 18rem;
    background-color: dimgray;
    color: white;
}

.title1 {
    text-align: right;
    font-size: 81px;
    margin-bottom: 65px;
    color: #ffeed9;
    font-family: 'bootstrap-icons';
    font-weight: bold;
}

.title2 {
    font-size: 2rem;
    color: antiquewhite;
    margin-top: revert;
}


.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: right;
    cursor: pointer;
    outline: none;
}


h3 {
    font-size: 1.5rem;
    text-align: center;
    font-size: 48px;
    margin-bottom: 0px;
    color: burlywood;
    font-family: 'Amatic SC', cursive;
    text-decoration-line: underline;
}

h4 {
    font-size: 1.5rem;
    text-align: right;
    font-size: 39px;
    margin-bottom: 0px;
    color: burlywood;
    font-family: 'Amatic SC', cursive
}


.sidenav a:hover, .dropdown-btn:hover {
    color: black;
}


.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.active {
    background-color: green;
    color: white;
}

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

body {
    margin-top: 120px;
}

.forstyle {
    background-image: url("gradient_bg.png");
    background-repeat: repeat-x;
}

.choose {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

    .choose > input {
        width: 18rem;
        padding: 8px;
        border-radius: 8px;
        border: 2.5px solid #e0b97f;
        font-family: 'Amatic SC', cursive;
        font-size: 22px;
        background-color: #ffe4c1a3;
        outline: none;
        margin: 5px;
    }

    .choose > select {
        width: 18rem;
        padding: 8px;
        border-radius: 8px;
        border: 2.5px solid #e0b97f;
        font-family: 'Amatic SC', cursive;
        font-size: 22px;
        background-color: #ffe4c1a3;
        outline: none;
        margin: 5px;
    }

.search {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    text-align: initial;
}

.search1 > input {
    width: 31rem;
    padding: 8px;
    border-radius: 8px;
    border: 2.5px solid #e0b97f;
    font-family: 'Amatic SC', cursive;
    font-size: 22px;
    background-color: #ffe4c1a3;
    outline: none;
    margin: 5px;
}

.search2 > input {
    width: 413px;
    padding: 9px;
    border-radius: 8px;
    border: 2.5px solid #e0b97f;
    font-family: 'Amatic SC', cursive;
    font-size: 22px;
    background-color: #ffe4c1a3;
    outline: none;
    margin: 5px;
}



.search > input {
    width: 18rem;
    padding: 8px;
    border-radius: 8px;
    border: 2.5px solid #e0b97f;
    font-family: 'Amatic SC', cursive;
    font-size: 22px;
    background-color: #ffe4c1a3;
    outline: none;
    margin: 5px;
}

#sub_search {
    width: 95px;
    color: white;
    background-color: #e0b97f;
}

    #sub_search:hover {
        color: black;
        background-color: white;
    }

.top_options > p {
    margin-inline: 30px;
}

.card {
    width: 18rem;
    position: inherit;
    border: 2px solid;
    border-radius: 10px;
    border-color: lightgray;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}

.card-img-top {
    padding-top: 10px;
    height: 185px;
}


h5 {
    font-family: 'Amatic SC', cursive;
    color: #b58235;
    font-size: 22px;
    margin-top: 18px;
}

.create_btn {
    font-size: 25px;
    text-decoration: none;
    background-color: #ffe4c1;
    padding: 7px;
    border: 2px solid;
    border-radius: 8px;
    font-family: 'Amatic SC', cursive;
    color: dimgray;
}

p {
    margin-bottom: 35px;
}

    P > a:hover {
        background-color: #696969ab;
        color: black;
        border-color: #696969ab;
    }

.card-title {
    font-size: 30px;
    color: #696969ab;
    font-family: 'Amatic SC', cursive;
}

.card-text {
    font-size: 15px;
    margin-bottom: 25px;
}

.card-body > p {
    margin-bottom: 10px;
}

.btn-primary {
    display: block;
    position: inherit !important;
    color: white !important;
    font-family: 'Amatic SC', cursive !important;
    font-size: 20px !important;
}

.option {
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.editOption {
    color: blueviolet;
    text-align: end;
    text-decoration: none;
    font-size: 16px;
    padding-top: 10px;
}

.removeOption {
    color: tomato;
    text-align: start;
    font-size: 16px;
    text-decoration: none;
    padding-top: 10px;
}

.row {
    justify-content: space-between;
    grid-row-gap: 3em;
    padding: 39px;
    padding-top: 0px;
    margin: auto;
    margin-top: -7px
}

#price {
    color: #16c634 !important;
    font-size: 27px;
    font-weight: 600;
    font-family: 'Amatic SC', cursive;
    margin-top: 25px;
    margin-bottom: auto;
}

@media only screen and (max-width: 750px) {

    .sub-title {
        margin: auto;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 760px) {
    .row {
        justify-content: center;
    }

    .btn-primary {
        display: block;
        position: inherit !important;
        color: white !important;
    }

    .topB {
        display: block;
    }

    .search {
        display: grid;
    }

    #sub_search {
        width: auto;
    }

}
