.sidenav {
    height: 100%;
    width: 199px;
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 0px;
    background-color: #f0f8ff;
    overflow-x: auto;
    padding-left: 1px;
    padding-right: 4px;
    margin-right: -62px;
    position: initial;
    border-style: ridge;
}

    /* Style the sidenav links and the dropdown button */
    .sidenav a, .dropdown-btn {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: right;
        cursor: pointer;
        outline: none;
    }

h4 {
    font-size: 1.5rem;
    font-weight: bold;
}

        /* On mouse-over */
        .sidenav a:hover, .dropdown-btn:hover {
            color: black;
        }

/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: green;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}



body{
    margin-top:120px;
}

.choose {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

    .choose > input {
        width: 18rem;
        padding: 8px;
        border-radius: 8px;
        border: 2.5px solid #e0b97f;
        font-family: 'Amatic SC', cursive;
        font-size: 22px;
        background-color: #ffe4c1a3;
        outline: none;
        margin: 5px;
    }

    .choose > select {
        width: 18rem;
        padding: 8px;
        border-radius: 8px;
        border: 2.5px solid #e0b97f;
        font-family: 'Amatic SC', cursive;
        font-size: 22px;
        background-color: #ffe4c1a3;
        outline: none;
        margin: 5px;
    }

.search {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.search > input {
    width: 18rem;
    padding: 8px;
    border-radius: 8px;
    border: 2.5px solid #e0b97f;
    font-family: 'Amatic SC', cursive;
    font-size: 22px;
    background-color: #ffe4c1a3;
    outline:none;
    margin:5px;
}

#sub_search {
    width: 95px;
    color: white;
    background-color: #e0b97f;
}

#sub_search:hover{
    color:black;
    background-color:white;
}

.top_options > p {
    margin-inline: 30px;
}

.card {
    width: 18rem;
    position: inherit;
    border: 2px solid;
    border-radius: 10px;
    border-color: lightgray;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}

.card-img-top {
    padding-top: 10px;
    height: 185px;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 65px;
    color: burlywood;
    font-family: 'Amatic SC', cursive;
    text-decoration-line: underline;
}

h5 {
    font-family: 'Amatic SC', cursive;
    color: #b58235;
    font-size: 22px;
}

.create_btn {
    font-size: 25px;
    text-decoration: none;
    background-color: #ffe4c1;
    padding: 7px;
    border: 2px solid;
    border-radius: 8px;
    font-family: 'Amatic SC', cursive;
    color: dimgray;
}

p {
    margin-bottom: 35px;
}

P > a:hover {
    background-color: #696969ab;
    color: black;
    border-color: #696969ab;
}

.card-title {
    font-size: 30px;
    color: #696969ab;
    font-family: 'Amatic SC', cursive;
}

.card-text {
    font-size: 15px;
    margin-bottom: 25px;
}

.card-body > p {
    margin-bottom:10px;
}

.btn-primary {
    display: block;
    position: inherit !important;
    color: white !important;
    font-family: 'Amatic SC', cursive !important;
    font-size: 20px !important;
}

.option {
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.editOption {
    color: blueviolet;
    text-align: end;
    text-decoration: none;
    font-size: 16px;
    padding-top: 10px;
}

.removeOption {
    color: tomato;
    text-align: start;
    font-size: 16px;
    text-decoration: none;
    padding-top: 10px;
}

.row {
    justify-content: space-between;
    grid-row-gap: 3em;
    padding: 138px;
    padding-top: 0px;
    margin: auto;
    margin-top: -210px;
}

#price {
    color: #16c634 !important;
    font-size: 27px;
    font-weight: 600;
    font-family: 'Amatic SC', cursive;
    margin-top: 25px;
    margin-bottom: auto;
}


@media only screen and (max-width: 760px) {
    .row {
        justify-content: center;
    }
    .btn-primary {
        display: block;
        position: inherit !important;
        color:white !important;
    }

    .search {
        display: grid;
    }

    #sub_search{
        width:auto;
    }

    /*///////////////////////////////////////////////////////////*/

   
    
      
}
