 body{
    background-color: aliceblue !important;
 }

.nav_top {
    background: rgb(247, 238, 226);
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -8px;
    height: 60px;
}

#logo {
    height: 100px;
    width: 100px;
    border: 1.5px solid;
    border-color: rgb(206, 143, 50);
    border-radius: 50px;
    display: flex;
    margin-top: -12px;
    margin-right: -195px;
}

#menu_respon {
    display: none;
}

#home_respon {
    display: none;
}

.dropbtn {
    text-align: center;
    background: none;
    border: none;
    color: burlywood;
    cursor: pointer;
    font-family: 'Amatic SC', cursive;
    font-size: 28px;
    margin-left: 70px;
    margin-top: -5px;
}

.dropbtn > i {
    padding: 6px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-right: 295px;
    margin-top: 12px;
}

.dropdown_ul > li {
    list-style: none;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background: rgb(247, 238, 226);
    border-bottom: 1px solid lightgray;
    color: rgb(206, 143, 50);
}

.dropdown-content a:hover {
    background-color: rgb(206, 143, 50);
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: rgb(206, 143, 50);
}

.bottommenu a {
    text-decoration: none;
    color: #6c6969;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: inline-block;
}

.bottommenu a:hover {
    color: black;
    transition: all 0.4s;
}


.bottommenu {
    background-color: #f8e2cf;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;
    margin-top:100%;
}

.dogfood, .catfood, .guides, .professionals {
    border-left: 2px solid #c5a171;
    display: inline-grid;
    width: 19%;
    height: 150px;
    margin: 25px 0;
    text-align: center;
}

.information {
    display: inline-grid;
    margin: 25px 0;
    text-align: center;
    width: 19%;
}

h6 {
    color: #c5a171;
    margin-top: 10px;
}

.dogfood ul, .catfood ul, .guides ul, .professionals ul, .information ul {
    list-style-type: none;
}


@media only screen and (max-width: 1200px) {
    .logo {
        display: none;
    }

    #home_respon {
        display: inline-block;
        padding: 5px;
        margin-top: -4px;
        margin-inline: 60px;
    }

    #home_respon :hover {
        color: rgb(206, 143, 50);
    }

    #menu_respon {
        display: inline-block;
        margin-right: -122px;
        padding: 5px;
        margin-top: -4px;
    }

    .dropdown-content {
        color: rgb(206, 143, 50);
    }

    .dropdown-content a:hover {
        background-color: rgb(206, 143, 50);
        color: white !important;
        cursor:pointer;
    }

    .btn {
        text-align: center;
        background: none;
        border: none;
        color: burlywood !important;
        cursor: pointer;
        font-family: 'Amatic SC', cursive;
        font-size: 28px !important;
        margin-top: -10px !important;
    }

    .dropdown_ul {
        display: flex;
        direction: rtl;
        justify-content: space-between;
        width: 82%;
        margin-inline: auto;
    }

    #contect {
        display: none;
    }

    #location {
        display: none;
    }

}

@media only screen and (max-width: 1160px) {
    .dropdown_ul {
        width: 65%;
    }

    #home_respon {
        margin-inline: auto;
    }

    .dogfood, .catfood, .guides, .professionals {
        border-left:none;
    }

}

@media only screen and (max-width: 900px) {
    .dropbtn > i {
        display: none;
    }
}
