body{
    margin-top:100px;
}

.card-img {
    width: 100%;
    height: 300px;
    border: 2px solid;
    border-color: #343a3e;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    opacity:0.8;
}

.titel {
    position: relative;
    display: block;
    width: 103px !important;
    margin-top: -42px;
    width: fit-content !important;
    margin-right: 17px;
}

h1 {
    text-align: center;
    font-size: 54px;
    margin-bottom: 14px;
    color: white;
    font-family: 'Amatic SC', cursive;
    width: 28rem;
    background-color: dimgray;
}
.sub-title {
    width: 27rem;
    text-align: center;
    margin-right: 18rem;
    background-color: dimgray;
    color: white;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.img_right {
    float: right;
    width: 23rem;
    border-style: double;
    border-color: antiquewhite;
    padding: 1px;
    margin-top: 8px;
}
.img_left {
    float:left;
    width: 23rem;
    border-style: double;
    border-color: antiquewhite;
    padding: 1px;
    margin-top: 8px;
}
.guide {
    border-bottom-style: double;
    border-bottom-color: burlywood;
    margin-top: 14px;
    padding: 12px;
    height:auto;
}
.guide-body-left {
    width: 50rem;
    margin-right: 23rem;
}
.guide-body-left > a:hover{
   background-color:white;
   color:dimgray;
}
.guide-body-right {
    width: 50rem;
}
.guide-body-right > a:hover {
    background-color: white;
    color: dimgray;
}
.guide-title {
    padding: 0;
    padding-right: 35px;
    font-family: 'Amatic SC', cursive;
}
.guide-text {
    padding: 0;
    padding-right: 35px;
    padding-top: 24px;
}
.full-artical {
    border-style: solid;
    border-radius: 22px;
    background-color: dimgray;
    color: white;
    float: left;
    line-height: 40px;
    height: 45px;
    min-width: 160px;
    text-align: center;
    text-decoration: none;
}
.far, .material-icons {
    font-size: 25px;
    background-color: dimgray;
    display: inline-block;
}
.full-artical:hover {
    text-decoration: none;
    background-color: dimgray;
    color: white;
}
#full {
    display:block;
}


@media only screen and (max-width: 1200px) {

    .guide {
        display: flex;
        flex-direction: column;
        
    }
    .img_right, .img_left {
        width: 33rem;
        height: 17rem;
        margin: auto;
    }
    .guide-body-left , .guide-body-right {
        width:auto;
        margin-right:0;
    }

}

@media only screen and (max-width: 750px) {

    .sub-title {
        margin:auto;
    }
}

@media only screen and (max-width: 545px) {

    .img_right, .img_left {
        width: 30rem;
        height: 15rem;
        margin: auto;
    }
   
}
