body {
    text-align: center;
    margin-top: 100px;
}

h1 {
    text-align: center;
    font-size: 70px;
    margin-bottom: 25px;
    color: burlywood;
    font-family: 'Amatic SC', cursive;
    text-decoration-line: underline;
}

h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    color: #696969ab;
}

.row{
    justify-content:center;
}

.card {
    width: 24rem !important;
    height: auto;
    border: 2px solid;
    border-radius: 10px;
    border-color: lightgray;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}

.control-label {
    display: flex;
    font-size: 27px;
    font-family: 'Amatic SC', cursive;
    color: #696969ab;
}

.form-group > input {
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
    color: #696969ab;
}

.btn {
    width: 95px;
    color: #e0b97f !important;
    background-color: white;
    outline: none;
    border-color: #e0b97f;
    margin-top: 12px;
}

.btn:hover{
    color:white !important;
    background-color:#e0b97f;
    border-color: white;
}

.option {
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
}

.option > a {
    color: burlywood;
    font-size: 23px;
    text-decoration: none;
}