@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="~/css/homePage2.css" rel="stylesheet" />
</head>

<body onload="welcome();">

    @*@if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Editor")
      || ViewContext.HttpContext.User.IsInRole("Client"))
    {
       
        <div id="welcome"></div> 
    }*@

    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
    {
        <p>
            <a class="create_btn" asp-action="index" asp-controller="Users">כנסיה לאזור משתמשמים</a>
        </p>
    }

    <h1>ברוכים הבאים ל - Cats and Dogs</h1>
    <div class="small-tiitles">
        <h2>אימוץ כלבים וחתולים <span>|</span></h2>
        <h2>חנות מוצרים ומזון <span>|</span></h2>
        <h2>מדריכים וטיפים מהמומחים</h2>
    </div>

    <section id="slider">
        <figure>
            <img src="https://cdn.pixabay.com/photo/2019/08/07/14/11/dog-4390885_960_720.jpg" />
            <img src="https://cdn.pixabay.com/photo/2018/10/01/09/21/pets-3715733_960_720.jpg" />
            <img src="https://cdn.pixabay.com/photo/2015/03/26/09/54/pug-690566_960_720.jpg" />
            <img src="https://cdn.pixabay.com/photo/2017/02/20/18/03/cat-2083492__340.jpg" />
            <img src="https://cdn.pixabay.com/photo/2019/08/07/14/11/dog-4390885_960_720.jpg" />
        </figure>
    </section>

    <section class="about_us">
        <h2>קצת עלינו...</h2>
        <p>
            אנו - Cats and Dogs עמותה לאימוץ
            כלבים וחתולים, שמנו לעצמנו מטרה להפוך את כל חווית האימוץ לחוויה הפשוטה והמושלמת ביותר! כך שתוכלו להתחיל ברגל ימין את הדרך עם בעל החיים האהוב שלכם.
            תוכלו למצוא אצלנו את כל הטיפים, המדריכים וכל המצרכים הנדרשים במקום אחד!
            וכמובן, תוכלו לפנות אלינו לכל שאלה שתרצו בקישור הבא:
            <a href="#">צור קשר</a>
        </p>
    </section>

    <section class="donations">
        <h2>תרומות לעמות שלנו</h2>
        <p>
            עשרות כלבים וחתולים נטושים ממתינים בבית המחסה שלנו לאנשים שיאמצו אותם ללבם ולביתם.
            אימוץ כלבים ואימוץ חתולים - הדרך לחיים טובים יותר!
            לפרטים נוספים על מנת לתרום לעמותה שלנו לחצו על הקישור הבא
            <a href="#">צור קשר</a>
        </p>
    </section>

    <section class="temperatures">
        <h2> שימו לב לטמפרטורות!</h2>
        <p> כשאנו מוציאים את חברינו לטיול, עלינו לשים לב שלא יהיה חם מדי </p>
        <p> אנא בידקו את הטמפרוטרה ואת מידת החום ברצפה </p>



        <a class="weatherwidget-io" href="https://forecast7.com/en/32d0934d78/tel-aviv-yafo/" data-label_1="TEL AVIV" data-label_2="WEATHER" data-theme="original">TEL AVIV WEATHER</a>
        <script>
            !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
        </script>
    </section>

    <script src="~/js/site.js"></script>
</body>