
@{
    ViewData["Title"] = "Location";
}

<head>
    <link href="~/css/index_1.css" rel="stylesheet" />
    <link href="~/css/map2.css" rel="stylesheet" />
</head>

<body>
    <h1>איפה תוכלו למצוא אותנו ?</h1>
    <p id="p_list">תוכלו למצוא אותנו בסניפים הבאים :</p>

    <ul id="list">
        <li>ראשון לציון, בן גוריון 4 - סניף ראשי</li>
        <li>תל אביב, מנחם בגין 121</li> 
        <li>חולון, גודלה מאיר 7</li>
        <li>יפתחו מקמות נוספים בהמשך..</li>
    </ul>

    <p id="p2_list">בכל אחד מהסניפים תוכלו לרכוש ממגון המוצרים שמוצגים באתר , מחכים לראותכם :)</p>

    <h1> מפת סניפים </h1>

    <div id="container" position: absolute>
        <div class="row">
            <div class="col-sm">
                <div id="myMap"></div>
                <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AmL7oLu1IcsqMguBIRNjYrN138xH3FEbqiQEGwIKoq3ti1EaaBU4eSJ6nxgXS0gv&callback=GetMap' async defer width="400px" height="400"></script>

            </div>
            <div class="col-sm">
                <canvas id="mypieChart"></canvas>
            </div>
            <div class="row">
                <canvas id="mybarChart"></canvas>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <script src="~/js/siteformap.js" asp-append-version="true"></script>
}


@*<style>

        .row {
            position: relative;
            height: 35rem;
            width: 90rem;
            display: flex;
            margin-inline: 175px;
        }

        #container {
            margin-top: 100px;
        }

        #myMap {
            border: 2px solid;
            position: absolute;
            width: 70%;
            height: 118%;
            box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
        }

        #MicrosoftNav {
            inset: 20px 59rem auto auto !important;
        }

        #mybarChart {
            margin-top: 200px;
        }

        .csharpcode, .csharpcode pre {
            font-size: small;
            color: black;
            font-family: consolas, “Courier New”, courier, monospace;
            background-color: #ffffff;
            white-space: pre;
        }

            .csharpcode pre {
                margin: 0em;
            }

            .csharpcode .rem {
                color: #008000;
            }

            .csharpcode .kwrd {
                color: #0000ff;
            }

            .csharpcode .str {
                color: #006080;
            }

            .csharpcode .op {
                color: #0000c0;
            }

            .csharpcode .preproc {
                color: #cc6633;
            }

            .csharpcode .asp {
                background-color: #ffff00;
            }

            .csharpcode .html {
                color: #800000;
            }

            .csharpcode .attr {
                color: #ff0000;
            }

            .csharpcode .alt {
                background-color: #f4f4f4;
                width: 100%;
                margin: 0em;
            }

            .csharpcode .lnum {
                color: #606060;
            }
    </style>*@





