
@{
    ViewData["Title"] = "Location";
}

<head>
    <link href="~/css/map2.css" rel="stylesheet" />
</head>

<body>
    <aside>
        <h1>איפה תוכלו למצוא אותנו ?</h1>
        <p id="p_list">תוכלו למצוא אותנו בסניפים הבאים :</p>

        <ul id="list">
            <li>ראשון לציון, בן גוריון 4 - סניף ראשי</li>
            <li>תל אביב, מנחם בגין 121</li>
            <li>חולון, גודלה מאיר 7</li>
            <li>יפתחו מקמות נוספים בהמשך..</li>
        </ul>

        <p id="p2_list">בכל אחד מהסניפים תוכלו לרכוש ממגון המוצרים שמוצגים באתר , מחכים לראותכם :)</p>
    </aside>
    <h1> מפת סניפים </h1>

    <div id="container" position: absolute>
        <div class="row">
            <div class="col-sm">
                <div id="myMap"></div>
                <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AmL7oLu1IcsqMguBIRNjYrN138xH3FEbqiQEGwIKoq3ti1EaaBU4eSJ6nxgXS0gv&callback=GetMap' async defer width="400px" height="400"></script>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <script src="~/js/siteformap.js" asp-append-version="true"></script>
}







