@{
    ViewData["Title"] = "Location";
}

<head>
    <link href="~/css/index_1.css" rel="stylesheet"/>
</head>

<h1>איפה תוכלו למצוא אותנו ?</h1>
<p>תוכלו למצוא אותנו בסניפים הבאים :</p>
<ul>
    <li>ראשון לציון</li>
    <li>תל אביב</li>
    <li>חולון</li>
    <li>יפתחו מקמות נוספים בהמשך..</li>
</ul>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d33388.36517844027!2d34.80701047767544!3d31.958704867648787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1siw!2sil!4v1630114488553!5m2!1siw!2sil" width="800" height="800" style="border:1px;" allowfullscreen="" loading="lazy"></iframe>


