@{
    ViewData["Title"] = "Location";
}

<head>
    <link href="~/css/index_1.css" rel="stylesheet" />
</head>

<body>

    <h1>איפה תוכלו למצוא אותנו ?</h1>
    <p>תוכלו למצוא אותנו בסניפים הבאים :</p>
    <ul>
        <li>ראשון לציון</li>
        <li>תל אביב</li>
        <li>חולון</li>
        <li>יפתחו מקמות נוספים בהמשך..</li>
    </ul>


    <div class="map">
        <iframe width="640" height="543" src="https://maps.google.com/maps?q=israel%20rishon%20le%20zion%20ben%20gurion%204&t=&z=17&ie=UTF8&iwloc=&output=embed" style="border:0" allowfullscreen> </iframe>
    </div>

</body>