@model IEnumerable<CatsAndDogs_project.Models.Articles>

@{
    ViewData["Title"] = "ChooseName";
}
<head>
    <link href="~/css/choose_name2.css" rel="stylesheet" />
</head>

<div class="choose-name-head">
    <h1>בחר שם לכלב שלך</h1>
    <p class="sub-title">הוספתם חבר חדש לחיים? מזל טוב, כאן תוכלו לבחור לו שם מרשימת השמות שלנו </p>
</div>

<div class="container">

    <div class="random-name">
        <h3>הגרל שם</h3>
        <p>לא מצליח לבחור שם?<a class="rand"> <span id="random">לחץ כאן</span></a> ותן לנו לבחור בשבילך</p> 
        <h2 id="result"></h2>
    </div>

    <div class="dog-name">
        <h2 class="letter">א</h2>
        <span class="name">
            אבשי,
            אגו,
            אגוזי,
            אגוזית,
            אגטה,
            אגימו,
            אדיסון,
            אוג,
            אוגוסטוס,
            אוגי,
            אוז,
            אוזה,
            אוזה,
            אוזו,
            אוטר,
            אולי,
            אוליב,
            אוליבר,
            אולקה,
            אומה,
            אומץ,
            אוניל,
            אוניקס,
            אוסטין,
            אוסי,
            אוסקה,
            אוסקר,
            אופניק,
            אורו,
            אוריין,
            אורלנדו,
            אורקה,
            אושה,
            אושו,
            אותלו,
            אזמרלדה,
            אחד,
            אי.טי,
            איב,
            איג'י,
            איגור,
            איגי,
            אידה,
            איזבלה,
            איזי,
            אייב,
            אייזיק,
            איילי,
            איימי,
            אייס,
            אייקו,
            אינגה,
            אינגריד,
            אינדיה,
            אינצי,
            אינשם,
            איקה,
            אירמה,
            אלבי,
            אלביס,
            אלדה,
            אלדו,
            אלדין,
            אלזה,
            אליוט,
            אליזבת,
            אליס,
            אלישיה,
            אלכסיס,
            אלסקה,
            אלף,
            אלפא,
            אלפונסו,
            אלפי,
            אלפין,
            אלקסיס,
            אמדאוס,
            אנג'י,
            אנגוס,
            אנדי,
            אנטון,
            אנרג'י,
            אנרג'י,
            אס,
            אפולו,
            אפצ'י,
            ארצ'י
        </span>

    </div>



    <div class="dog-name">
        <h2 class="letter">ב</h2>
        <span class="name">
            באבא,
            באג,
            באגי,
            באגס,
            באלו,
            באנג'י,
            באסטר,
            באסקי,
            באף,
            באפי,
            באק,
            בארני,
            בבו,
            בג',
            בגי,
            בוב,
            בובה,
            בובי,
            בוגי,
            בוטיצ'לי,
            בוטן,
            בוטש,
            בולי,
            בומבה,
            בומר,
            בונגו,
            בונד,
            בונדי,
            בונו,
            בונזו,
            בוני,
            בוניטה,
            בוס,
            בופי,
            בוץ,
            בוץ',
            בוקסי,
            בז'יז'ינה,
            בזוקה,
            בטהובן,
            בטטה,
            בטי,
            ביאנקה,
            ביג,
            ביגלה,
            ביוויס,
            ביוטי,
            ביז'ו,
            בייב,
            בייגה,
            ביילי,
            בילבי,
            בימבה,
            בינגו,
            בינקי,
            ביקסי,
            בלאנקו,
            בלינצ'י,
            בסטר,
            בץ,
            בקהאם,
            בראוני,
            ברדוגו,
            ברהמס,
            ברוטוס
        </span>

    </div>


    <div class="dog-name">

        <h2 class="letter">ג</h2>
        <span class="name">

            ג'אג,
            ג'אווה,
            ג'אז,
            ג'אמפ,
            ג'אמפר,
            ג'דאיי,
            ג'ו,
            ג'ואי,
            ג'ובאני,
            ג'ודו,
            ג'וי,
            ג'וי,
            ג'וייס,
            ג'ולי,
            ג'ון,
            ג'ונו,
            ג'וני,
            ג'וק,
            ג'וקר,
            ג'ורג',
            ג'ורדן,
            ג'ט,
            ג'יגה,
            ג'יי,
            ג'יין,
            ג'ימבו,
            ג'ימי,
            ג'ינג'י,
            ג'ינג'ר,
            ג'יני,
            ג'ינס,
            ג'יפ,
            ג'יפסי,
            ג'לו,
            ג'לי,
            ג'מייקה,
            ג'סי,
            ג'סיקה,
            גאוס,
            גאטסי,
            גאיה,
            גאס,
            גארפילד,
            גדג'ט,
            גדעון,
            גובי,
            גודי,
            גוונזו,
            גוזי,
            גוזמו,
            גוטה,
            גוטמן,
            גולגול,
            גולד,
            גולדה,
            גולדסטאר,
            גולה,
            גולו,
            גולי,
            גוליבר,
            גולף,
            גומבוץ,
            גוסטבי,
            גוסטר,
            גופי,
            גוצ'י,
            גוש,
            גיבור,
            גיישה,
            גיפסי,
            גלוריה,
            גמג'ו,
            גנדי,
            גרב,
            גרבר,
            גרומיט,
            גרינגו,
            גרמלין
        </span>
    </div>

    <div class="dog-name">
        <h2 class="letter">ד</h2>
        <span class="name">


            דאג,
            דאגלס,
            דאפי,
            דב,
            דדי,
            דובה,
            דובי,
            דובידו,
            דוברמן,
            דובשי,
            דוג,
            דוגי,
            דוגמנית,
            דודלי,
            דוט,
            דוכסית,
            דול,
            דולה,
            דולי,
            דולצ'ה,
            דולר,
            דום,
            דומינו,
            דון,
            דונגי,
            דונה,
            דוני,
            דוסטון,
            דופי,
            דוצ'י,
            דוק,
            דוקו,
            דורה,
            דורותי,
            דוריס,
            דוש,
            דותי,
            דז'וו,
            דזי,
            די-ג'יי,
            דיאבלו,
            דידי,
            דיווה,
            דיוק,
            דייגו,
            דייזי,
            דילן,
            דימר,
            דינגו,
            דינו,
            דיסני,
            דיסקו,
            דיפסי,
            דיקסי,
            דמבו,
            דמקה,
            דסטי,
            דקס,
            דקסטר,
            דקסי,
            דקרון,
            דרבי,
            דריה,
            דרייפוס,
            דרקון
        </span>
    </div>

    <div class="dog-name">
        <h2 class="letter">ה</h2>
        <span class="name">
            האג,
            האו,
            האטי,
            האנטר,
            האני,
            האץ',
            הארלי,
            הב,
            הדוויג,
            הובי,
            הוגו,
            הוואי,
            הולה,
            הולי,
            הומר,
            הונדי,
            הופ,
            הוק,
            הוקי,
            הורדוס,
            הוריקן,
            היידי,
            הייקו,
            הילי,
            הינדי,
            היפו,
            היפי,
            היפר,
            הירו,
            הליום,
            הלל,
            המלט,
            המר,
            הנזו,
            הנרי,
            הפי,
            הרמוני,
            הרצל,
            הרקולס,
            התר
        </span>
    </div>

    <div class="dog-name">
        <h2 class="letter">ו</h2>
        <span class="name">

            ואייטי,
            ואן,
            ואסיל,
            ואצ'י,
            וגאס,
            וגנר,
            וואפי,
            וודי,
            וויב,
            וויטי,
            ווינדי,
            ווינר,
            וויסקי,
            וויש בון,
            וולבי,
            וולגה,
            וולה,
            וולף,
            וונדה,
            וונדי,
            ווני,
            וופי,
            וופל,
            ווקר,
            ויב,
            ויגו,
            ויוה,
            ויט,
            ויטה,
            ויטו,
            וילי,
            וינטו,
            ויני,
            וינצי,
            ויצו,
            ויק,
            ויקטור,
            ויקטוריה,
            ולדה,
            ולנוק,
            ולנטיין,
            ולנסיה,
            ונוס,
            וניל,
            ונילה,
            וניס,
            וסטו,
            וסלי,
            וסקי,
            וקטור,
            וקיטי,
            ורור,
            וריק,
            ושטי
        </span>
    </div>

    <div class="dog-name">
        <h2 class="letter">ז</h2>
        <span class="name">
            זאב,
            זאביק,
            זאוס,
            זאזי,
            זאפ,
            זאפה,
            זאקי,
            זארה,
            זהבה,
            זואי,
            זוהרת,
            זוט,
            זויה,
            זולה,
            זולו,
            זורו,
            זורחת,
            זורי,
            זוריק,
            זורקין,
            זזה,
            זזי,
            זי,
            זיג,
            זיגי,
            זיגמונד,
            זיו,
            זיטה,
            זינה,
            זיפ,
            זיפו,
            זיק,
            זיקה,
            זיקו,
            זיקי,
            זלטה,
            זלמן,
            זמזם,
            זמירה,
            זמרת,
            זן,
            זנבוני,
            זנה,
            זנוסי,
            זני
        </span>
    </div>

    <div class="dog-name">
        <h2 class="letter">ח</h2>
        <span class="name">

            חאפי,
            חביאר,
            חואן,
            חואניטה,
            חואניטו,
            חוה,
            חולי,
            חוליו,
            חום,
            חומוס,
            חומי,
            חופי,
            חושי,
            חושם,
            חזי,
            חי,
            חיבוקי,
            חידה,
            חיים,
            חיליק,
            חיננית,
            חישי,
            חלבה,
            חלילי,
            חמאיו,
            חמד,
            חמדה,
            חמודי,
            חמי,
            חמסה,
            חמסי,
            חנן,
            חץ,
            חצי,
            חתול,
            חתולי
        </span>
    </div>

    <div class="dog-name">
        <h2 class="letter">ט</h2>
        <span class="name">

            טאו,
            טאז,
            טאטה,
            טאטו,
            טאי,
            טאפי,
            טאץ',
            טאק,
            טאקו,
            טאקי,
            טאקר,
            טבק,
            טדי,
            טובה,
            טובי,
            טוביה,
            טוגו,
            טוד,
            טוויגי,
            טוויטי,
            טוויסטר,
            טוז,
            טוטו,
            טוטסי,
            טוי,
            טויינן,
            טויינקי,
            טולוז,
            טולי,
            טוליפ,
            טום,
            טומי,
            טומיק,
            טונה,
            טונטון,
            טוני,
            טוסקנה,
            טופ,
            טופו,
            טופי,
            טוקסי,
            טורבו,
            טוש,
            טושטוש,
            טייגר,
            טייסון,
            טייפון,
            טיף
        </span>
    </div>



    <div class="dog-name">
        <h2 class="letter">י</h2>
        <span class="name">

            יאג'י,
            יאגו,
            יאמי,
            יאנג,
            יאנוש,
            יאקו,
            יגואר,
            ידיד,
            יהלום,
            יו-יו,
            יואבי,
            יואל,
            יואן,
            יוגה,
            יוגורט,
            יוגי,
            יוטה,
            יולי,
            יוליה,
            יוליוס,
            יוסטון,
            יופי,
            יופיטר,
            יופלי,
            יוקה,
            יוקו,
            יחזקאל,
            ייגר,
            ים,
            ימבה,
            יס,
            יעקה,
            יפה,
            יפתח,
            יץ,
            יצפאן,
            ירמיהו,
            ירקון,
            ירקונה
        </span>
    </div>

    <div class="dog-name">
        <h2 class="letter">כ</h2>
        <span class="name">

            כאוס,
            כאמל,
            כבש,
            כדור,
            כדורי,
            כווץ',
            כוכי,
            כושי,
            כושכוש,
            כיף,
            כלב,
            כליל,
            כלנית,
            כסף,
            כספר,
            כף,
            כפור,
            כפיר,
            כפלי,
            כפתור,
            כריס,
            כריסטוף,
            כריסטופר,
            כריסטי,
            כרית,
            כרמלה,
            כרמלו,
            כרמן,
            כתם,
            כתר
        </span>

    </div>

    <div class="dog-name">
        <h2 class="letter">ל</h2>
        <span class="name">

            לאבר,
            לאדי,
            לאון,
            לאונרדו,
            לאסי,
            לאפי,
            לאק,
            לאקי,
            לב,
            לבן,
            לבנדר,
            לבנה,
            לגו,
            לד,
            להב,
            להלה,
            לואי,
            לואיז,
            לואיזה,
            לואיס,
            לואיצ'י,
            לואיק,
            לוב,
            לוגו,
            לוגי,
            לודה,
            לוטו,
            לוטוס,
            לוטר,
            לולה,
            לולו,
            לולי,
            לונה,
            לוסי,
            לופ,
            לופי,
            לוצ'י,
            לוק,
            לוקאס,
            לוקה,
            לורד,
            לורנצו,
            ליידי,
            ליצ'י,
            לקסי
        </span>
    </div>

    <div class="dog-name">
        <h2 class="letter">מ</h2>
        <span class="name">

            מאגנום,
            מאו,
            מאמי,
            מאנץ',
            מאסט,
            מאסטר,
            מאפי,
            מאפין,
            מאצ'ו,
            מארס,
            מאשה,
            מג'יק,
            מגה,
            מגי,
            מדאם,
            מדונה,
            מדי,
            מודי,
            מוזה,
            מוזלי,
            מוי,
            מולאן,
            מולי,
            מומו,
            מונה,
            מוני,
            מוניקה,
            מוצארט,
            מוקה,
            מוקי,
            מוש,
            מושו,
            מושון,
            מותק,
            מט,
            מטאו,
            מטילדה,
            מיטשל,
            מייסי,
            מייפל,
            מייק,
            מייקי,
            מילקי,
            מיני,
            מלכה,
            מנגו,
            מנטה,
            מקס,
            מרגריטה,
            מרלין
        </span>
    </div>

    <div class="dog-name">
        <h2 class="letter">נ</h2>
        <span class="name">

            נאג'י,
            נאון,
            נאנו,
            נאסי,
            נאפ,
            נאפסטר,
            נאצ'וס,
            נאש,
            נבחן,
            נג',
            נודניק,
            נולה,
            נונה,
            נוני,
            נופי,
            נוקי,
            נוקיה,
            נורמן,
            נוש,
            נושי,
            נושנוש,
            נזק,
            נח,
            נחום,
            נחמה,
            נחמן,
            נטאשה,
            נטוצי,
            ניטצ'ה,
            נילס,
            נילס,
            נינג'ה,
            ניקי,
            ניקיטה,
            נלה,
            נלסון,
            נמנם,
            נמש,
            ננה,
            נענע,
            נפוליאון,
            נץ
        </span>
    </div>

    <div class="dog-name">
        <h2 class="letter">ס</h2>
        <span class="name">

            סאם,
            סאנטוס,
            סאני,
            סאנשיין,
            סאפ,
            סאקי,
            סאשה,
            סבסטיאן,
            סו,
            סוויטי,
            סוזנה,
            סול,
            סומו,
            סומסום,
            סוני,
            סוניק,
            סוסו,
            סופה,
            סופי,
            סופרמן,
            סוקי,
            סושי,
            סטאץ,
            סטאר,
            סטופ,
            סטייסי,
            סטיקי,
            סטלה,
            סייבר,
            סילבר,
            סימבה,
            סם,
            סנואו,
            סקי,
            סקיי
        </span>
    </div>

    <div class="dog-name">
        <h2 class="letter">ע</h2>
        <span class="name">
            עוג,
            עוגי,
            עוגית,
            עוגן,
            עוז,
            עוזי,
            עונג,
            עוץ,
            עוקץ,
            עזרא,
            עליזה,
            עלמה,
            עמוס,
            עמליה,
            עמלק,
            ענן,
            עצם,
            ערק,
            עש,
            עשב
        </span>


    </div>

    <div class="dog-name">
        <h2 class="letter">פ</h2>
        <span class="name">

            פאדג',
            פאדי,
            פאוור,
            פאולו,
            פאולוס,
            פאטש,
            פאי,
            פאם,
            פאן,
            פאנטום,
            פאני,
            פאנק,
            פאנקי,
            פאפי,
            פאקו,
            פאקמן,
            פארגו,
            פאתוס,
            פביו,
            פבלו,
            פג',
            פגי,
            פדריקו,
            פו,
            פובר,
            פוג'י,
            פוגי,
            פודינג,
            פוזי,
            פוטר,
            פולה,
            פולי,
            פומבה,
            פומה,
            פומלה,
            פומפה,
            פון-פון,
            פונגו,
            פוני,
            פונץ',
            פונצ'ו,
            פוף,
            פופאי,
            פופה,
            פופי,
            פוצ'י,
            פוצ'י,
            פוקהונטס,
            פוקוס,
            פוקס,
            פוקסי,
            פוקר,
            פורטר,
            פורסט,
            פוש,
            פוש,
            פטל,
            פטר,
            פיבי,
            פיג'י,
            פיט,
            פיטנגו,
            פיטר,
            פיטר פן,
            פיי,
            פילוס,
            פינוקיו,
            פינצ'י,
            פינקי,
            פיסטוק,
            פיצה,
            פיצי,
            פיקאצ'ו,
            פיקולו,
            פלוטו
        </span>
    </div>

    <div class="dog-name">
        <h2 class="letter">צ</h2>
        <span class="name">

            צ'אבי,
            צ'אט,
            צ'אי,
            צ'אמפ,
            צ'אן,
            צ'אנס,
            צ'אפי,
            צ'אק,
            צ'אקי,
            צ'ארלי,
            צ'ו,
            צ'ואי,
            צ'ולנט,
            צ'ומפי,
            צ'ונגי,
            צ'ופ,
            צ'ופי,
            צ'ופצ'יק,
            צ'וצ'ה,
            צ'וצ'ו,
            צ'וקי,
            צ'יז,
            צ'יטה,
            צ'ייסר,
            צ'ילי,
            צ'ילי,
            צ'ינו,
            צ'יף,
            צ'יפס,
            צ'יקה,
            צ'יקו,
            צ'יקיטה,
            צ'סטר,
            צביקה,
            צוף,
            צוציק,
            צוקי,
            צוקר,
            צינה,
            צינו,
            ציפה,
            ציפי,
            ציקלופ,
            צמר,
            צמרוני
        </span>
    </div>

    <div class="dog-name">
        <h2 class="letter">ק</h2>
        <span class="name">

            קאווה,
            קאזי,
            קאיה,
            קאלי,
            קאמי,
            קאסי,
            קאפי,
            קארי,
            קארמה,
            קאש,
            קבוק,
            קבוקי,
            קבץ',
            קבצ'י,
            קדפי,
            קובה,
            קובי,
            קוברה,
            קודי,
            קווין,
            קוז'ו,
            קוזי,
            קוטב,
            קוטג',
            קויני,
            קויק,
            קולה,
            קולר,
            קומבו,
            קומט,
            קונגו,
            קוני,
            קוסטה,
            קופי,
            קופר,
            קוצ'י,
            קוקה,
            קוקו,
            קוקוס,
            קוקי,
            קושקוש,
            קיווי,
            קיטי,
            קילר,
            קינג,
            קיפי,
            קיצי,
            קישקשתא,
            קלאופטרה
        </span>
    </div>

    <div class="dog-name">
        <h2 class="letter">ר</h2>
        <span class="name">

            ראג'ה,
            ראלף,
            ראסטי,
            רג'י,
            רד,
            רובי,
            רובין,
            רובר,
            רוברטה,
            רוברטו,
            רוג'ר,
            רודולף,
            רודי,
            רוז,
            רוזה,
            רוזי,
            רוט,
            רוטשילד,
            רוי,
            רולי,
            רום,
            רומיאו,
            רוס,
            רופי,
            רוקו,
            רוקט,
            רוקי,
            רוקס,
            רוקסאן,
            רוקסי,
            ריג'י,
            ריי,
            רינגו,
            ריצ'י,
            ריקו,
            רנדי,
            רקס
        </span>
    </div>

    <div class="dog-name">
        <h2 class="letter">ש</h2>
        <span class="name">

            שאגי,
            שאדו,
            שאול,
            שאנטי,
            שאנל,
            שאקירה,
            שארפ,
            שבי,
            שביט,
            שגי,
            שד,
            שו-שו,
            שוג,
            שוגה,
            שוגון,
            שוגי,
            שוגר,
            שוופס,
            שולה,
            שולמית,
            שולץ,
            שומשום,
            שועל,
            שוקה,
            שוקו,
            שוקי,
            שורטי,
            שוש,
            שושה,
            שושו,
            שחומי,
            שחורי,
            שטקר,
            שייני,
            שייקה,
            שייקספיר,
            שיפרה,
            שיקגו,
            שלג,
            שלגיה,
            שמשון,
            שפיץ,
            שקשוקה,
            שרגא,
            שרלוק,
            שרק
        </span>


    </div>

    <div class="dog-name">
        <h2 class="letter">ת</h2>
        <span class="name">
            תאי,
            תולי,
            תולתול,
            תום,
            תומי,
            תומס,
            תומש,
            תוניס,
            תות,
            תותי,
            תיגר,
            תימי,
            תיקה,
            תלולי,
            תלתל,
            תן שם,
            תפוז,
            תפוזינה,
            תקווה,
            תרצה,
            תשובה,
            תשר
        </span>
    </div>
</div>

@section Scripts {
    <script src="~/js/randomName.js"></script>
}
