@model CatsAndDogs_project.Models.Care

@{
    ViewData["Title"] = "Create";
}
<head>
<link rel="stylesheet" href="~/css/create_2.css" />
</head>
<h1>יצירת מוצר טיפוח</h1>
<div class="row">
    <div class="card col-3" style="width: 18rem; position:inherit">
        <div class="card-body">
            <form asp-action="Create">
                <div class="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<div> <a asp-action="Create" asp-controller="CareCategories"> הוסף קטגוריה לטיפוח </a></div>*@
                    <div class="feture">
                       <h5 class="card-title"><label asp-for="Name" class="control-label"></label>:</h5>
                        <span> <input asp-for="Name" class="form-control" autocomplete="off" /></span>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="feture">
                        <h5 class="card-title"><label asp-for="Description" class="control-label"></label>:</h5>
                        <span><input asp-for="Description" class="form-control" autocomplete="off" /></span>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="feture">
                        <h5 class="card-title"><label asp-for="Tip" class="control-label"></label>:</h5>
                        <span><input asp-for="Tip" class="form-control" autocomplete="off" /></span>
                        <span asp-validation-for="Tip" class="text-danger"></span>
                    </div>
                    <div class="feture">
                        <h5 class="card-title"><label asp-for="Price" class="control-label"></label>:</h5>
                        <span><input asp-for="Price" class="form-control" autocomplete="off" /></span>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="feture">
                        <h5 class="card-title"><label asp-for="Image" class="control-label"></label>:</h5>
                        <span><input asp-for="Image" class="form-control" autocomplete="off" /></span>
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="feture">
                        <h5 class="card-title"><label asp-for="Type" class="control-label"></label>:</h5>
                        @*<input asp-for="Type" class="form-control" />*@
                        <select asp-for="Type" class="form-control">
                            <option value="" selected disabled hidden>בחר</option>
                            <option value="כלב">כלב</option>
                            <option value="חתול">חתול</option>
                        </select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="feture">
                        <h5 class="card-title"><label asp-for="CategoryId" class="control-label"></label>:</h5>
                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                    </div>
                    <div class="options">
                        <a asp-action="Index"><i class="material-icons">keyboard_backspace</i></a>
                        <input type="submit" value="שמור" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
    

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
