@model CatsAndDogs.Models.User

@{
    ViewData["Title"] = "AccsessDenied";
    Layout = "_LoginLayout";
}

<h1>גישתך נדחתה</h1>
<h2>אין לך גישה לעמוד זה, אם ברשותך משתמש עם אפשריות גישה רחבות יותר</h2>
<a asp-action="Logout">לחץ כאן</a>
