@model CatsAndDogs_project.Models.GuideDog

@{
    ViewData["Title"] = "Edit";
}
<head>
    <link href="~/css/guide_edit.css" rel="stylesheet" />
</head>

<h1>עריכה</h1>

<div class="row">
    <div class="card col-md-9">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <h5> <label asp-for="ImageGuied" class="info-label"></label></h5>
                <span><input asp-for="ImageGuied" class="img-guide" autocomplete="off" /></span>
                <span asp-validation-for="ImageGuied" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5> <label asp-for="Image" class="info-label"></label></h5>
                <span><input asp-for="Image" class="img-guide" autocomplete="off" /></span>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5><label asp-for="Breed_2Id" class="info-label"></label></h5>
                <select asp-for="Breed_2Id" class="breed-select" asp-items="ViewBag.Breed_2Id"></select>
                <span asp-validation-for="Breed_2Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5><label asp-for="AvgLife" class="info-label"></label></h5>
                <input asp-for="AvgLife" class="info-head" autocomplete="off" />
                <span asp-validation-for="AvgLife" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5><label asp-for="AvgWeight" class="info-label"></label></h5>
                <input asp-for="AvgWeight" class="info-head" autocomplete="off" />
                <span asp-validation-for="AvgWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5><label asp-for="AvgHeight" class="info-label"></label></h5>
                <input asp-for="AvgHeight" class="info-head" autocomplete="off" />
                <span asp-validation-for="AvgHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="info-label"></label>
                <span class="show"><textarea asp-for="Description" class="input-info"autocomplete="off" style="font-size:18px"></textarea></span>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Characteristics" class="info-label"></label>
                <span class="show"><textarea asp-for="Characteristics" class="input-info"  autocomplete="off" style="font-size:18px"></textarea></span>
                <span asp-validation-for="Characteristics" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Health" class="info-label"></label>
                <span class="show"><textarea asp-for="Health" class="input-info"  autocomplete="off" style="font-size:18px"></textarea></span>
                <span asp-validation-for="Health" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Training" class="info-label"></label>
                <span class="show"><textarea asp-for="Training" class="input-info" autocomplete="off" style="font-size:18px"></textarea></span>
                <span asp-validation-for="Training" class="text-danger"></span>
            </div>
            <div class="option">
                <input id="save_btn" type="submit" value="Save" class="btn btn-primary" />
                <a id="back-btn" asp-action="Index"><i class="material-icons">keyboard_backspace</i></a>
            </div>
        </form>
    </div>
</div>







@*<h4>GuideDog</h4>*@
<!--<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ImageGuied" class="control-label"></label>
                <input asp-for="ImageGuied" class="form-control" />
                <span asp-validation-for="ImageGuied" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Breed_2Id" class="control-label"></label>
                <select asp-for="Breed_2Id" class="form-control" asp-items="ViewBag.Breed_2Id"></select>
                <span asp-validation-for="Breed_2Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvgLife" class="control-label"></label>
                <input asp-for="AvgLife" class="form-control" />
                <span asp-validation-for="AvgLife" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvgWeight" class="control-label"></label>
                <input asp-for="AvgWeight" class="form-control" />
                <span asp-validation-for="AvgWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvgHeight" class="control-label"></label>
                <input asp-for="AvgHeight" class="form-control" />
                <span asp-validation-for="AvgHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Characteristics" class="control-label"></label>
                <input asp-for="Characteristics" class="form-control" />
                <span asp-validation-for="Characteristics" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Health" class="control-label"></label>
                <input asp-for="Health" class="form-control" />
                <span asp-validation-for="Health" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Training" class="control-label"></label>
                <input asp-for="Training" class="form-control" />
                <span asp-validation-for="Training" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}-->
