@model CatsAndDogs_project.Models.Health

@{
    ViewData["Title"] = "Edit";
}


<head>
    <link rel="stylesheet" href="~/css/edit_forstore.css" />
</head>

<h1>עריכת מוצר</h1>


<div class="row">
    <div class="card col-2" style="width: 18rem; position:inherit">
        <div class="card-body">
            <form asp-action="Edit">
                <div class="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="feture">
                        <h5 class="card-title"><label>שם מוצר :</label></h5><span><input asp-for="Name" class="form-control" /></span>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="feture">
                        <h5 class="card-title"><label asp-for="Description" class="control-label"></label> :</h5><span><input asp-for="Description" class="form-control" asp-items="ViewBag.ListBreed" /></span>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="feture">
                        <h5 class="card-title"><label asp-for="Price" class="control-label"></label> :</h5><span><input asp-for="Price" class="form-control" /></span>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="feture">
                        <h5 class="card-title"><label asp-for="Image" class="control-label"></label> :</h5><span><input asp-for="Image" class="form-control" /></span>
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="feture">
                        <h5 class="card-title"><label asp-for="Type" class="control-label"></label> :</h5>
                        <span>
                            <select asp-for="Type" class="form-control">
                                <option value="" selected disabled hidden>בחר</option>
                                <option value="כלב">כלב</option>
                                <option value="חתול">חתול</option>
                            </select>
                        </span> <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                </div>
                <div class="feture">
                    <h5 class="card-title"><label asp-for="CategoryId" class="control-label"></label>:</h5>
                    <span> <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select></span>
                </div>
                <div class="img">
                    <div class="options">
                        <a asp-action="Index"><i class="material-icons">keyboard_backspace</i></a>
                        <input type="submit" value="שמור" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
